extends layout.pug
block content
    div(id="preload")
    div(class="about-masthead")
        div(class="container-fluid h-100")
            div(class="row h-100 align-left")
                div(class="col-4 h-100 text-center left-column")
                    img(src="/images/dp.png" width = "240")
                    p(class="text-white") Hey, I'm Chris, I am a software engineering student passionate about efficient code and designing easy to use systems. This website is built using Node.js and Express with plans to update with React in the near future. I am currently looking for a internship focusing in full-stack development and/or UI/UX design.
                    p(class="text-white") The best way to contact me is via email at chrispidd@outlook.com