extends layout.pug
block content
    div(id="preload")
    header(class="masthead")
      div(class="container h-100")
        div(class="row h-100 align-items-center")
          div(class="col-12 text-center backdrop")
            h1(class="font-weight-light white-text") Christopher Pidd
            p(class="lead white-text") Hi I'm a student studying software engineering with a passion for design.
    
