extends layout.pug
block content
    section(class = "project-back")
        div(class="row")
            div(class="col-12 h-100")
                ul(class="thumbnails")
                    li()
                        a(href="/projects/eyetracker")
                            img(src="/images/eye-track.png" width = 220 height = 150)
                            div(class="description")
                                h4 Eye Tracking Chrome Plugin
                                a A Google Chrome plugin to track attention via eye movement
                    li()
                        a(href="/about")
                            img(src="images/coding.tiff" width = 220 height = 150)
                            div(class="description")
                                h4 More to come...
                                a I'm busy working on more projects